@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #0f1724;
  --foreground: #e6eef8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-ovo: Ovo !important;
  --font-outfit: Outfit;
  --color-secondary: #1e293b;
  --color-secondary-foreground: #cfe8ff;
  --color-main: #0f1724;
  --color-color: #e6eef8;
  --color-primary: #3b82f6;
  --color-primary-foreground: #ffffff;
  --color-border: #263044;
  --color-input: #0b1220;

  --color-card: #0b1220;
  --color-card-foreground: #e6eef8;
  --color-sidebar: #0e1622;
  --color-sidebar-foreground: #cfe8ff;
  --color-sidebar-primary: #213044;
  --color-sidebar-primary-foreground: #ffffff;

  --color-muted: #151a23;
  --color-muted-foreground: #98a7bc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: Outfit;
}
html {
  scroll-behavior: smooth !important;
}
body {
  background: var(--background);
  color: var(--foreground);
}

.hover {
  transition: text-decoration ease-in 300;
}
.hover:hover {
  text-decoration: underline;
}

.ovo {
  font-family: Ovo !important;
}

.scroll {
  @apply scroll-mt-[12vh];
}
